<ion-header>
  <status-header title="Bulk actions"></status-header>
</ion-header>

<ion-content class="bulk-action-page" padding>

  <ion-list>
    <ion-item (click)="pauseAll()">
      <ion-icon name='pause' item-left></ion-icon>
      Pause all
    </ion-item>

    <ion-item (click)="resumeAll()">
      <ion-icon name='play' item-left></ion-icon>
      Resume all
    </ion-item>

    <ion-item (click)="presentActionSheet('pause')">
      <ion-icon name='pricetag' item-left></ion-icon>
      Pause per tag
    </ion-item>

    <ion-item (click)="presentActionSheet('resume')">
      <ion-icon name='pricetag' item-left></ion-icon>
      Resume per tag
    </ion-item>
  </ion-list>

</ion-content>