<ion-navbar *navbar>
  <ion-title>All tests</ion-title>
  <ion-buttons end>
    <button (click)="refreshTests()">
      <ion-icon name="refresh"></ion-icon>
    </button>
  </ion-buttons>


</ion-navbar>



<ion-content class="tests-page">

  <ion-segment [(ngModel)]="filterStatus">
    <ion-segment-button value="all">
      All
    </ion-segment-button>
    <ion-segment-button value="up">
      Up
    </ion-segment-button>
    <ion-segment-button value="down">
      Down
    </ion-segment-button>
    <ion-segment-button value="paused">
      Paused
    </ion-segment-button>
  </ion-segment>

  <ion-searchbar [(ngModel)]="filterQuery"></ion-searchbar>
  <ion-spinner name="crescent"></ion-spinner>
  <ion-list>
    <ion-item-sliding *ngFor="#test of tests | async | sortTest:filterQuery:filterStatus" [ngClass]="{ 'text-muted': test.Paused}">

      <ion-item [ngClass]="{ 'text-muted': test.Paused}">
        <ion-thumbnail item-left>
          <ion-icon *ngIf="test.Status == 'Up' && !test.Paused" name="checkmark"></ion-icon>
          <ion-icon *ngIf="test.Status == 'Down'" name="close"></ion-icon>
          <ion-icon *ngIf="test.Status != 'Down' && test.Paused" name="pause"></ion-icon>
        </ion-thumbnail>
        <h2>{{test.WebsiteName}}</h2>
        <p>Uptime: <ion-badge item-right>{{test.Uptime}}%</ion-badge></p>

        <button clear item-right (click)="goToDetailPage(test.TestID)">Details</button>
      </ion-item>
      <ion-item-options>
        <button primary (click)="togglePauseTest(test)">
          <ion-icon *ngIf="!test.Paused" name="pause"></ion-icon>
          <ion-icon *ngIf="test.Paused" name="play"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-card *ngIf="(tests | async | sortTest:filterQuery:filterStatus)?.length == 0">
    <ion-card-content>
      There are no tests matching your filter.
    </ion-card-content>
  </ion-card>

</ion-content>
