<ion-header>
  <status-header title="{{test.WebsiteName}}"></status-header>
</ion-header>

<ion-content class="details-page" padding>

  <button ion-button (click)="openWebsite(test.URI)"><ion-icon name="link"></ion-icon> Open website</button>

  <line-chart [statsData]="statsData"></line-chart>

  <ion-list>
        <span *ngFor="let field of testFields">
        <ion-item *ngIf="field != 'URI'">
          <ion-label>{{field}}</ion-label>
          <ion-note item-right>{{test[field]}}</ion-note>
        </ion-item>
        </span>
  </ion-list>

</ion-content>