<ion-header>
  <ion-navbar>
    <ion-title>
      {{test.WebsiteName}}
    </ion-title>
    <ion-buttons>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="details-page" padding>

  <button ion-button (click)="openWebsite(test.URI)"><ion-icon name="link"></ion-icon> Open website</button>

  <ion-list>
    <span *ngFor="let field of testFields">
    <ion-item *ngIf="field != 'URI'">
      <ion-label>{{field}}</ion-label>
      <ion-note item-right>{{test[field]}}</ion-note>
    </ion-item>
    </span>
  </ion-list>

</ion-content>
